Dear <%= @name %>,<br />
<br />
Your password has been reset by an administrator for your account at:<br />
<br />
<%= @host %>/admin<br />
<br />
Username: <%= @login %><br />
New password: <%= @pass %><br />
<br />
From<br />
<br />
<%= @from_text %>
