Dear <%= @name %>,<br />
<br />
A new user account has been created for you at:<br />
<br />
<%= @host %>/admin<br />
<br />
Username: <%= @login %><br />
Password: <%= @pass %><br />
<br />
From<br />
<br />
<%= @from_text %>
