<h2>Dashboard</h2>


<table class="table table-striped table-hover table-condensed" id="dashboard-table">
  <thead>
    <th>Category</th>
    <th>Number of Posts</th>
  </thead>
  <tbody>
    <% CMS_MODELS.each do |model|%>
    <tr>
      <td><%= link_to model.name.titleize, send("casein_#{model.name.underscore.pluralize}_path") %></td>
      <td><%= link_to model.count, send("casein_#{model.name.underscore.pluralize}_path") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
