<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome to <%= casein_config_website_name %></title>
    <%= stylesheet_link_tag "casein/login" %>
	<%= javascript_include_tag "casein/casein" %>
	<%= csrf_meta_tag %>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag("casein/html5shiv") %>
    <![endif]-->

  </head>

  <body>
  	<div class="container-narrow">
		<div class="jumbotron">
			<div class="row brand">
				<%= image_tag(casein_config_logo, :alt => casein_config_website_name) %>
			</div>
			<%= yield %>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<hr />
				<footer>
					<p><%= casein_get_footer_string(false).html_safe %></p>
				</footer>
			</div>
		</div>
	</div>
  </body>
</html>
